.pos-bill-left,
.pos-bill-middle,
.pos-bill-right 
{
overflow: auto; 
height: calc(100vh - 90px);
border-radius: 12px;

}
.pos-bill-left {
background:#007AFF;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}

.pos-bill-middle {
background:#E5F1FF;
border-radius: 0px;
}
.pos-bill-right {
background:#fff;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

.pos-bill-left input[type="submit"] {
text-align: left;
width: 100%;
display: block;
white-space: pre-wrap;
line-height: 1em;
padding: 8px 4px;
}
.btn-bill-item {
  font-weight: bold;
  min-height: 74px;
  white-space: normal;
  line-height: 1em;
  padding: 6px 12px;
  border: 1px solid;
  background: #fff;
  margin: 2px;
  border-radius: 5px;
  width: 98%;
}
.btn-bill-item:hover {
  background: #007AFF;
  color: #fff;
  text-decoration: none;
}
.table-pos-bill tr td {
border-bottom: 1px solid #ccc !important;
}
.table-pos-bill input:disabled {
  border: 0;
  background: transparent;
}
.table-pos-bill .pos-bill-qty {
  text-align: center;
}
.pos-total {
  background: #CFE6FF;
  color: #007AFF;
  font-size: 22px;
  padding: 0px 10px;
}
.pos-bill-middle .item-title {
	background: #007aff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}