.pos-bill-left,
.pos-bill-middle,
.pos-bill-right 
{
overflow: auto; 
height: calc(100vh - 90px);
border-radius: 12px;
scrollbar-width: thin;
}
.pos-bill-left {
background:#ffffff;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
overflow-x: hidden;
}

.pos-bill-middle {
background:#ffffff;
border-radius: 0px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
}
.pos-bill-right {
background:#fff;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

.pos-bill-left input[type="submit"] {
text-align: left;
width: 100%;
display: block;
white-space: pre-wrap;
line-height: 1em;
padding: 8px 4px;
margin:0;
}
.btn-bill-item {
  font-weight: bold;
  min-height: 74px;
  white-space: normal;
  line-height: 1em;
  padding: 6px 12px;
  border: 1px solid #376091;
  background: #37609110;
  margin: 2px;
  border-radius: 5px;
  width: 98%;
}
.btn-bill-item:hover {
  background: #376091;
  color: #fff;
  text-decoration: none;
}
.btn-main-cat {
    color: Black;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 1em;
    padding: 6px;
    border: 1px solid #fff;
    background: #fff;
    margin: 2px;
    border-radius: 5px;
}
.btn-main-cat:hover {
	background: #376091;
	color: #fff;
	text-decoration: none;
}
.table-pos-bill tr td {
border-bottom: 1px solid #ccc !important;
}
.table-pos-bill input:disabled {
  border: 0;
  background: transparent;
}
.table-pos-bill .pos-bill-qty {
  text-align: center;
}
.pos-total {
  background: #37609110;
  color: #376091;
  font-size: 22px;
  padding: 0px 10px;
}
.pos-bill-middle .item-title {
	background: #376091;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}