
.debug {
	display: none;
}
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
display:inline-block;
/*padding: 10px 18px;*/
padding: 4px;
line-height:30px;
border-radius:5px;
}

/*.alert-error2 {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
padding:10px;
margin:0 auto;
border-radius:5px;
}*/

.alert-error2 {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
padding: 10px;
margin-left: auto!important;
border-radius: 5px;
display: inline-block;
width: 44%;
clear: both!important;
vertical-align: top;
position: relative;
left: 28%;
}

.alert-info {
color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1;
padding: 10px;
min-width: 200px;
max-width: 900px;
display: block;
margin: 0 auto;
border-radius: 5px;
position: relative;
width: 40%;
}

/*.alert-info {
color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1;
padding:10px;
min-width:200px;
max-width:900px;
width:auto;
display:block;
margin:0 auto;
border-radius:5px;
}*/
.log-out {position:absolute; top:30px; right:30px; }

html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'signika_negativeregular';
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: #333;
	background: #f7f3e6;
	height: 100%;
}

.textBrighter {
	color: #a3a3a3;
}


.clear {
	clear: both;
	display: block;
}

a {
	color: #158cb8;
	text-decoration: none;
}

h1, h2, h3, legend {
	font-weight: normal;
	letter-spacing: -0.04em;
}

::selection {
	background: #2ea3ce; /* Safari */
	color: #fff;
}
::-moz-selection {
	background: #2ea3ce;
	color: #fff;
}




h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 15px;
	/*color: #158cb8;*/
}

ul,
ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul ul {
	margin-left: 20px;
}



.hidden {
	display: none;
}

.userRightHide {
}



#container {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#content {
	margin-top: 160px;
	padding: 15px;
}


#content.noSubnav {
	margin-top: 105px;
}




/*
#loginTop {
	background: #2ea3ce;
	text-align: center;
	padding: 30px 0;
}

#loginTop img {
	width: 200px;
}

#loginBottom {
	margin: 0 auto;
	width: 418px;
}

#loginBottom form {
	background: #444;
}

#loginBottom form legend {
	color: #fff;
	padding-top: 10px;
}

#loginBottom form fieldset {
	background: none;
	border: none;
	margin: 30px 0;
	padding: 15px;
}

#loginBottom form label a:hover{
	color: #fff;
}

#loginBottom form input,
#loginBottom form select {
	float: right;
}

#loginBottom form select {
	margin-top: 2px; 
}

#loginBottom .button {
	width: 80px;
	float: right;
	margin-top: 4px;
}
*/

.printOnly {
	display: none;
}


.alignRight {
	text-align: right;
}

.alignCenter, 
.alignCenter * {
	text-align: center;
}

textarea, input, select, .selectWrapper {
	font-family: 'signika_negativeregular';
	font-size: 15px;
	color: #444;
	background: #fff;
	border: 1px solid #eae7da;
}


textarea {
	margin: 1px 0;
	padding: 4px;
	padding: 8px;
	height: 4em;
	display: inline-block;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

html#productionEditor table#ingredients textarea {
	text-align: center;
}

input {
	width: 210px;
	display: inline-block;
	line-height: 1.5;
	padding: 4px;
	padding: 8px;
	/*
	font-size: 30px;
	padding: 10px;
	*/
	font-weight: normal;
	cursor: default;
}

table input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

table tr.editYou td,
table tr.orderLines td {
	background: #fff;
}


.inputDate {
	background: #fff url(css/calendar.png) right 8px top 8px no-repeat;
	background-size: 18px;
	border: 1px solid #eae7da;
	position: relative;
	overflow: hidden;
	height: 38px;
	max-width: 250px;
}

.inputDate .fakeInput {
	position: absolute;
	top: 8px;
	left: 8px;
}

.inputDate input {
	width: 100%; 
	background: none; 
	border: none; 
	text-indent: -1000px; 
	overflow: hidden;
	position: absolute;
}


input:focus,
select:focus,
textarea:focus {
	border: 1px solid #444;
}

.inputDate input:focus {
	background: transparent;
}



.orderWrapper {
	margin: 0;
	padding: 0;
}

.orderWrapper table.orderLines th,
.orderWrapper table.orderLines td {
	border-left: none!important;
	border-right: none!important;
	background: none!important;
}


.orderWrapper table.orderLines tr:first-child td,
.orderWrapper table.orderLines tr:last-child td{
	border: none!important;
}

.orderHide {
	display: none;
}
.orderWrapper{
	background: #fff!important;
}


table.clientReceipt{
	margin-top: -1px; 
}



.showOrderButton,
.hideOrderButton {
	cursor: pointer;
}

.toggleChooser {
	float: right;
	display: block;
	overflow: hidden;
}


.toggleChooser a {
	border: 1px solid #eae7da;
	border-right: 0;
	display: inline-block;
	background: #fff;
	padding: 8px 16px;
	color: #a3a3a3;
}

.toggleChooser a.active {
	background: #444;
	color: #fff;
}

.toggleChooser a:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.toggleChooser a:last-child {
	border-right: 1px solid #eae7da;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}



table tr.editYou td:first-child {
	background: #fff url(css/orderContentSpecial.png) right top no-repeat;
	background-size: 15px;
}


input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

select {
	background: #fff url(css/inputSelect.png) no-repeat right center;
	background-size: 18px;
	width: 210px;
	-webkit-appearance: none;
	margin: 0;
	padding: 4px 4px 4px 2px;
	padding: 8px 8px 8px 4px;
	height: 40px;
}

table select {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.sheetContainer table tbody th,
.sheetContainer table tbody td {
	height: 59px;
}

.sheetContainer table tbody textarea {
	height: 36px;
	font-size: 20px;
	background: none;
}

.sheetContainer table tbody textarea:hover {
	background: #fff;
}

.sheetContainer table tbody textarea:focus {
	background: #fff;
	height: 100px;
}

textarea:focus, input:focus {
	background: #fff;
}

input[type='checkbox'] {
	width: auto;
}

fieldset {
	margin: 0 0 30px 0;
	border: 0;
	padding: 0;
	position: relative;
}

legend {
	padding: 0;
	font-size: 30px;
}

label {
	width: 150px;
	display: inline-block;
	margin: 10px 0;
}

.button {
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	color: #fff;
	line-height: 1.5;
	padding: 8px 0;
	font-weight: normal;
	cursor: pointer;
	width: 98px;
	background: #2ea3ce;
	margin-right: 10px;
	border: none;
}

.button.light {
	color: #444;
	background: #eae7da;
}

.button.auto {
	width: auto;
	padding: 8px;
}

.button:last-child {
	margin-right: 0;
}

.button:hover {
	color: #fff;
	background: #2b99c1;
}

.button:focus, 
.button:active {
	color: #fff;
	background: #2ea3ce;
}

.button.disabled {
	opacity: .25;
}



#msg {
	background: #2f2f2f;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50%;
	width: 500px;
	line-height: 1.2;
	display: none;
	z-index: 1000;
	border-radius: 4px;
}

#top {
	background: #444;
	color: #fff;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1001;
}

#top a {
	color: #fff;
	text-decoration: none;
}

#top #logo {
	text-indent: -10000px;
	display: block;
	width: 130px;
	height: 33px;
	overflow: hidden;
	background: url(css/logo.png) no-repeat;
	background-size: 100%;
	margin: 14px;
	position: absolute;
	left: 0;
}

.mobile .activeSection, .mobile .infoSection {
	display: none;
}

#top #menuLinks {
	list-style: none;
	padding: 0;
	margin: 10px;
	float: right;
}

#top #menuLinks a {
	display: inline-block;
	padding: 5px 0 5px 10px;
	margin: 0 10px 0 0;
	border-left: 1px solid #555;
}

#top #menuLinks a:first-child {
	border: none;
}

#top .showMobileMenu {
	display: none;
}

#menuSegments {
	background: #2ea3ce;
	overflow: hidden;
	width: 100%;
	padding: 12px 0 0 0;
	position: relative;
}

.navHorisontal .borderBottom {
	background: #2b99c1;
	height: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 0;
}


#content.noSubnav #menuSegmentsSecond .navHorisontal .borderBottom {
	display: none;
	
}


.navHorisontal a {
	overflow: hidden;
	display: block;
	float: left;
	z-index: 1;
	position: relative;
	margin-bottom: 5px;
}

.navHorisontal a span {
	display: block;
	float: left;
	padding: 5px 5px 10px 15px;
	margin-right: 10px;
	border-left: 1px solid #53b5d9;
	color: #b1e2f5;
}

.navHorisontal a:first-child span {
	border-left: none;
}

.navHorisontal a.active {
	border-bottom: 5px solid #fff;
	margin-bottom: 0;
}

.navHorisontal a.active span{
	color: #fff;
}

.navHorisontal a:hover span, .navHorisontal a.active span {
	opacity: 1;
}

#menuSegmentsSecond {
	background: #fff;
	overflow: hidden;
	width: 100%;
	padding: 12px 0 0 0;
}

#menuSegmentsSecond .navHorisontal .borderBottom {
	background: #fff;
}

#menuSegmentsSecond .navHorisontal a span {
	border-left: 1px solid #f7f3e6;
	color: #a3a3a3;
}

#menuSegmentsSecond .navHorisontal a:first-child span {
	border: none;
}

#menuSegmentsSecond .navHorisontal a.active {
	border-bottom: 5px solid #f7f3e6;
	border-bottom: 5px solid #eae7da;
}

#menuSegmentsSecond .navHorisontal a.active span {
	color: #444;
}

#menuSegmentsSecond .navHorisontal a:hover span, 
#menuSegmentsSecond .navHorisontal a.active span {
	opacity: 1;
}

#menuSegmentsThird {
	margin-bottom: 20px;
	clear: both;
	overflow: hidden;
	margin-left: -20px;
}

#menuSegmentsThird .navHorisontal {
	background: none;
	width: auto;
}

#menuSegmentsThird .navHorisontal .borderBottom {
	background: #eae7da;
	height: 1px;
	display: block;
	position: static;
	bottom: none;
	left: none;
	z-index: 0;
	float: left;
	margin: 0;
	padding: 0;
}

#menuSegmentsThird .navHorisontal a span {
	border: none;
	color: #a3a3a3;
	padding: 5px 10px 10px 20px;
	/*opacity: 0.6;*/
}

#menuSegmentsThird .navHorisontal a.active {
	border-bottom: 5px solid #eae7da;
}

#menuSegmentsThird .navHorisontal a.active span {
	color: #444;
}

#menuSegmentsThird .navHorisontal a:hover span, 
#menuSegmentsThird .navHorisontal a.active span {
	opacity: 1;
}

#sectionShortcuts > a {
	background: #fff;
	padding: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	display: block;
}

#sectionShortcuts > a:hover {
	background: #444;
}

#sectionShortcuts > a:hover * {
	color: #fff;
}

#sectionShortcuts > a h2 {
	margin: 0;
	color: #333;
}

#sectionShortcuts > a p {
	color: #333;
}

/*
#menuLeftList {
	width: 300px;
	position: absolute;
	left: 0;
	top: 160px;
	background: #fff;
	overflow: hidden;
}
*/

#menuLeftList {
	margin-right: 20px; 
	float: left; 
	width: 250px;
	overflow: hidden;
}

#menuLeftList h3 {
	display: block;
	margin: 0;
	/*
	color: #000;
	background: #f7f3e6 url(css/stripe1.png);
	*/
}
/*
#menuLeftList h3 span {
	background: url(css/inputSelect.png) no-repeat right center;
	background-size: 18px;
	display: block;
}
*/

#menuLeftList h3 span {
	background: url(css/inputSelect.png) no-repeat right center;
	background-size: 18px;
	display: block;
}

#menuLeftList a {
	/*
	background: #fff;
	padding: 15px;
	display: block;
	border-top: 1px solid #f7f3e6;
	*/
	display: block;
	margin-left: 20px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#menuLeftList a.active {
	/*background: #fff url(css/menu_leftList.png) no-repeat right center;
	background-size: 15px;
	
	*/
	color: #444;
}

#contentInner {
	overflow: hidden; 
	border-left: 1px solid #eae7da; 
	padding-left: 20px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table th, 
table td {
	background: #f4f4f4;
	background: url(css/stripe1.png);
	border: 1px solid #eae7da;
	text-align: left;
	padding: 10px;
	height: 35px;
	/*vertical-align: top;*/
}

table thead tr:first-child th {
	color: #444;
	border-top: 5px solid #eae7da;
	background: #f7f3e6;
}

table tr.addRow td, table tr.addRow th, table tr.editRow td, table tr.editRow th {
	background: #eae7da;
}

th {
	font-weight: normal;
}

tbody .hoverTr th, 
tbody .hoverTr td {
	background: #f7f3e6;
}

.calendar table .hoverTr th, 
.calendar table .hoverTr td {
	background-color: none !important;
}

th.coefficient {
	text-align: center;
}

th .qty, td .qty, th.coefficient input {
	text-align: center;
	width: 3em;
	display: inline;
}

.weekday {
	width: 10%;
}

td.coefficient {
	text-align: center;
}

.tdBright {
	background: #fff;
	cursor: default;
}

.tdToday {
	background: #444 !important;
	color: #fff !important;
}

.sortUp, .sortDown, .sortLeft, .sortRight, .expand, .collapse {
	background: #666;
	background-size: 12px;
	color: #fff;
	display: inline-block;
	padding: 0;
	cursor: default;
	border-radius: 20px;
	text-indent: -1000px;
	width: 20px;
	height: 20px;
}

.sortDown {
	background: #666 url(css/sort_up.png) no-repeat center center;
	background-size: 12px;
}

.sortUp {
	background: #666 url(css/sort_down.png) no-repeat center 6px;
	background-size: 12px;
}

.sortLeft {
	background: #666 url(css/sort_left.png) no-repeat center center;
	background-size: 12px;
}

.sortRight {
	background: #666 url(css/sort_right.png) no-repeat center center;
	background-size: 12px;
}

.sortUp:hover, .sortDown:hover, .sortLeft:hover, .sortRight:hover {
	background-color: #444;
}

.expand, 
.collapse {
	background: #666 url(css/expand.png) no-repeat center center;
	background-size: 12px;
	margin-top: 4px;
	font-weight: bold;
	color: #fff;
	margin-right: 10px;
}

.collapse {
	background: #666 url(css/collapse.png) no-repeat center center;
	background-size: 12px;
}

.emptyTd {
	
}
.emptyCoefficient {
	
}



.calendar {
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	height: 350px;
	width: 290px;
}
/*
.orderInformation {
	width: 278px;
	margin-top: 8px;
	min-height: 26px;
}
*/


.calendar table tr th, .calendar table tr td {
	min-width: 30px;
	text-align: center;
	vertical-align: middle;
	padding: 0px 5px;
}

.calendar table tr td.noDay {
}

.calendar table tr td.calendar-day {
	background: #fff;
	cursor: default;
}

.calendar table tr td.today {
	font-weight: bold;
}

.calendar table tr td.orderContent {
	background-image: url(css/orderContent.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 8px;
}

.calendar table tr td.orderContentSpecial {
	background-image: url(css/orderContentSpecial.png);
}

.calendar table tbody td.calendar-day:hover {
	background: #2f2f2f !important;
	color: #fff;
}

.calendar table tbody td.day-passed {
	color: rgba(0,0,0,.3)
}


/*
.calendar .orderInformation {
	background: #2f2f2f;
	color: #ccc;
	text-align: left;
	padding: 5px;
	font-weight: normal;
	position: absolute;
	top: 300px;
	left: 200px;
	right: 200px;
	height: 300px;
	width: 300px;
	display: none;
}
*/

.calendar .orderInformation {
	background: #2f2f2f;
	color: #ccc;
	text-align: left;
	padding: 5px;
	font-weight: normal;
	position: fixed;
	top: 150px;
	left: 0;
	right: 0;
	width: 300px;
	display: none;
	z-index: 301;
	margin: 0 auto;
}


.calendar .orderInformation .orderRow input {
	width: 3em;
	text-align: center;
	margin-right: 1em;
}


.calendar .orderInformation .orderRow {
	display: block;
	padding: 3px;
}



.calendar .orderInformation .orderRow input {
	opacity: .5;
}

.calendar .orderInformation .orderRow input.custom {
	opacity: 1;
}




/*
.calendar .orderInformation {
	background: #2f2f2f;
	color: #ccc;
	text-align: left;
	padding: 5px;
	display: none;
	font-weight: normal;
}

.calendar .orderInformation .orderRow {
	display: block;
	padding: 3px;
}

.calendar .orderInformation .orderRow .number {
	display: inline-block;
	padding: 3px;
	width: 3em;
	border: 1px solid #3f3f3f;
	border-radius: 4px;
	text-align: center;
	margin-right: 10px;
}

.calendar .orderInformation .orderRow:last-child {
	border: none;
}

.calendar .orderInformation .orderRow input {
	width: 3em;
	text-align: center;
	margin-right: 1em;
}

.calendar .orderInformation .orderRow input.custom {
	background: #e4d7ab;
}


.calendar td:hover .orderInformation {
	display: block;
	overflow: hidden;
	position: absolute;
	z-index: 3;
	margin-top: 5px;
}
*/





#help {
	margin-bottom: 30px;
	background: #2f2f2f;
	color: #fff;
	padding: 20px;
	overflow: hidden;
	border-radius: 8px;
	display: none;
}

#help textarea {
	height: 600px;
	margin-top: 10px;
	margin-bottom: 20px;
}

/**
 *
 * Vertical Scrollbar
 *
 */
.myScrollbarV {
	position: absolute;
	z-index: 1000;
	width: 5px;
	bottom: 7px;
	top: 5px;
	right: 4px;
}

.myScrollbarV > div {
	position: absolute;
	z-index: 100;
	width: 100%;
	/* The following is probably what you want to customize */
	background: rgba(0,0,0,0.4);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

#overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 300;
	text-align: center;
	background: rgba(255,255,255,.6);
	display: none;
}

	#loaderWrapper {
		display: none;
		text-align: center;
		height: 60px;
		width: 100%;
		top: 40%;
		position: absolute;
		z-index: 301;
	}
	
	#loaderWrapper #loaderWrapperColor {
		background: #2ea3ce;
		width: 100px;
		display: inline-block;
		border-radius: 10px;
		padding: 10px;
	}
	
	#loaderWrapper #loaderWrapperColor img {
		padding: 10px 15px 15px 10px;
	}
	
	#loaderWrapper #loaderWrapperColor #nothingHappens {
		line-height: 1.2;
		display: none;
		z-index: 302;
	}
	
	#loaderWrapper #loaderWrapperColor #nothingHappens a {
		color: #fff;
	}
	
	
	
#helpButton {
	position: absolute;
	right: 15px;
	top: 15px;
	background: #eae7da;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 30px;
	color: #333;
	z-index: 1000;
}

#helpButton span {
	display: none;
}
	
#helpButton:hover {
	background: #2ea3ce;
	color: #fff;
	/*
	width: auto;
	padding: 0 10px;
	*/
}

#helpButton:hover span{
	/*display: inline-block;*/
}


body.wizardActive #helpButton {
	display: none;
}





#wizardWrapper {
	color: #444;
	width: 240px;
	padding: 15px 30px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 400;
	overflow: hidden;
	background: #d6d3c9;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2ZDNjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZWFlN2RhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left, #d6d3c9 0%, #eae7da 4%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d6d3c9), color-stop(4%,#eae7da));
	background: -webkit-linear-gradient(left, #d6d3c9 0%,#eae7da 4%);
	background: -o-linear-gradient(left, #d6d3c9 0%,#eae7da 4%);
	background: -ms-linear-gradient(left, #d6d3c9 0%,#eae7da 4%);
	background: linear-gradient(to right, #d6d3c9 0%,#eae7da 4%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d3c9', endColorstr='#eae7da',GradientType=1 );
	display: none;
}


::-webkit-scrollbar {
    width: 15px;
    border-left: 1px solid #fff;
}
::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-left: 1px solid #fff;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-left: 1px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}



body.wizardActive #wizardWrapper {
	display: block;
	overflow: auto;
}

.wizardActive #allWrapper {
	margin-right: 300px;
	position: relative;
}

.wizardActive #top {
	right: 300px;
}

.wizardActive #wizardWrapper #wizardNavigation {
	clear: both;
	overflow: hidden;
}

.wizardActive #wizardWrapper .stepPrevious, .wizardActive #wizardWrapper .stepNext {
	display: inline-block;
	margin-top: 1em;
}

.wizardActive #wizardWrapper .stepNext {
	display: block;
	float: right;
}

.wizardActive #wizardWrapper .stopped {
	opacity: .2;
}

.wizardActive #wizardWrapper #wizardCompleteTotal {
	background: #f7f3e6;
	width: 100%;
	height: 20px;
	border-radius: 10px;
	border: 2px solid #f7f3e6;
}

.wizardActive #wizardWrapper #wizardCompleteCurrent {
	height: 20px;
	border-radius: 8px;
	background: #2ea3ce;
}

.ui-datepicker-trigger {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 15px;
	width: 30px;
}

.ui-datepicker {
	width: 300px;
	padding: 10px;
	background: #eae7da;
	overflow: hidden;
	z-index: 301 !important;
	border-radius: 4px;
	display: none;
	/*
	left: 50% !important;
	top: 50% !important;
	margin-left: -150px;
	margin-top: -100px;
	*/
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 10px;
	text-align: center;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev {
	left: 0px;
}
.ui-datepicker .ui-datepicker-next {
	right: 0px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -5px;
	background: #666 url(css/sort_left.png) no-repeat 6px 4px;
	background-size: auto 12px;
	padding: 0;
	cursor: default;
	border-radius: 20px;
	text-indent: -1000px;
	width: 20px;
	height: 20px;
}

.ui-datepicker .ui-datepicker-next span {
	background: #666 url(css/sort_right.png) no-repeat 8px 4px;
	background-size: auto 12px;
}

.ui-datepicker .ui-datepicker-prev span:hover, .ui-datepicker .ui-datepicker-next span:hover {
	background-color: #444;
}

.ui-datepicker table {
	width: 100%;
	border-collapse: collapse;
	margin: 0;
}
.ui-datepicker th {
	padding: 0;
	text-align: center;
}
.ui-datepicker td {
	padding: 0;
	text-align: center;
	width: 50px;
}
.ui-datepicker td a.ui-state-default {
	background: #fff !important;
	display: block;
	height: 100%;
	vertical-align: center;
	color: #333;
	padding: 5px 0;
}

.ui-datepicker td a.ui-state-default:hover {
	background: #444 !important;
	color: #fff !important;
}

.ui-datepicker .ui-datepicker-current-day .ui-state-default {
	background: #eae7da !important;
	color: #333 !important;
}

.ui-datepicker .ui-datepicker-today .ui-state-default {
	background: #444 !important;
	color: #fff !important;
	font-weight: bold;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}





/*@media screen and (max-width: 1250px) {*/
@media screen and (max-width: 900px) {
	html {
		margin-top: 90px;
	}

	label {
		width: 100%;
	}
	
	input, textarea, select {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	#pricing-table .plan {width:130px; }
	#pricing-table {width:96%; }
	
	table td,
	table th {
		vertical-align: top;
	}
	

	.button {
		margin-top: 10px;
	}
	
	.button:first-child {
		margin-top: 0;
	}

	#top {
		background: #444;
		color: #fff;
		overflow: hidden;
	}

	#overlay {
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 300;
		text-align: center;
		background: rgba(0,0,0,.6);
		display: none;
	}

	#content {
		margin-top: 0px;
	}

	/*#content h1 {
		display: none;
	}*/

	#top #logo {
		display: block;
		width: 150px;
		height: 30px;
		margin: 7px 0 0 10px !important;
	}

	.mobile {
		margin: 0 !important;
		padding: 0 !important;
	}

	.mobile * {
		display: none;
	}
	/*
	 .mobile .activeSection,
	 .mobile .infoSection {
	 display: inline-block;
	 opacity: .85;
	 padding: 10px 15px!important;
	 width: 100%!important;
	 }

	 .mobile.active .activeSection {
	 display: none;
	 }

	 .mobile.active .infoSection {
	 display: inline-block;
	 }

	 .mobile .infoSection {
	 display: none;
	 }
	 */

	.mobile {
		display: block;
		width: 100% !important;
		overflow: hidden;
	}

	.mobile.active * {
		display: block;
	}
	
	.mobile.active style {
		display: none;
	}

	.mobile .showMobileMenu {
		display: block!important;
		width: auto;
		margin: 0 !important;
		padding: 12px 15px 8px 15px!important;
		height: 25px;
		display: block;
		overflow: hidden;
		border: none;
		padding: none;
		background: url(css/mobileMenu.png) no-repeat right center;
		background-size: 32px;
	}

	#menuLinks .showMobileMenu {
		background: url(css/mobileSettings.png) no-repeat right center;
		background-size: 32px;
	}

	.mobile.active nav, .mobile.active nav.navHorisontal {
		width: 100% !important;
		float: left;
		overflow: hidden;
	}

	.mobile.active nav a, .mobile.active nav.navHorisontal a {
		border: 0 !important;
		border-top: 1px solid #555 !important;
		display: block !important;
		width: 100% !important;
		padding: 10px 15px !important;
		overflow: hidden;
		height: auto;
		margin: 0;
		background: url(css/arrowRight_mobile.png) no-repeat right center;
		background-size: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.mobile.active nav.navHorisontal a span {
		border: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
		opacity: .7 !important;
	}

	.mobile.active nav.navHorisontal {
		background: #2ea3ce;
		background: -moz-linear-gradient(top, #2ea3ce 0%, #2ea3ce 5%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ea3ce), color-stop(5%,#2ea3ce));
		background: -webkit-linear-gradient(top, #2ea3ce 0%,#2ea3ce 5%);
		background: -o-linear-gradient(top, #2ea3ce 0%,#2ea3ce 5%);
		background: -ms-linear-gradient(top, #2ea3ce 0%,#2ea3ce 5%);
		background: linear-gradient(to bottom, #2ea3ce 0%,#2ea3ce 5%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ea3ce', endColorstr='#2ea3ce',GradientType=0 );
	}

	.mobile.active nav.navHorisontal a.active {
		/*
		 font-weight: bold;
		 opacity: 1!important;
		 */
	}

	.mobile.active nav.navHorisontal a.active span {
		opacity: 1 !important;
	}

	#menuSegments .borderBottom {
		display: none;
	}

	#menuSegments nav.navHorisontal a {
		border: 0;
		border-top: 1px solid #2ea3ce !important;
	}

	#menuSegmentsSecond {
		display: none !important;
	}

}




.colWrapper {
	display: table;
}


.col3 {
	display: table-cell;
	padding-right: 10px;
	width: 33%;
}

@media (max-width: 600px) {
	.colWrapper {
		display: block;
	}

	.col3 {
		display: block;
		width: auto;
	}	
}

.col3:last-of-type {
	padding: 0;
}






.col2 {
	display: table-cell;
	padding-right: 10px;
	width: 50%;
}

@media (max-width: 600px) {
	.col2 {
		display: block;
		width: auto;
	}
	
	.checkout-name {
  width: 60% !important;
}

.checkout-card {
  width: 60% !important;
}

.checkout {
  width:80% !important;
}

#pricing-table .plan {width:80% !important; }

.checkout-name {width:100% !important; margin-bottom:10px; }
.checkout-exp,
.checkout-cvc {
  margin-left: 15px;
  width:25%;
}
	
}

.col3:last-of-type {
	padding: 0;
}









#dateBig {
	background: #fff;
	padding: 20px;
	text-align: center;
	display: inline-block;
	border: 1px solid #eae7da;
	width: 160px;
}

#dateBig strong {
	font-size: 150px;
	line-height: 1;
	display: block;
	clear: both;
}


#note .noteItem {
	padding: 15px 20px 15px 65px;
	background: #fff url(css/note.png) 13px 18px no-repeat;
	background-size: 40px;
	margin-bottom: 10px;
	overflow: hidden;
}

#note .noteItem p {
	margin: 0 0 20px 0;
}


#note .noteItem em{
	font-style: normal;
	display: block;
}

#note .noteItem .delete {
	margin-left: 10px;
}

#note form {
	background: #eae7da;
	padding: 10px;
}

#note form fieldset {
	margin: 0;
}

#note form textarea {
	margin: 0;
}

#note form input {
	margin-top: 10px;
	margin-right: 7px;
	display: inline-block;
}

#note form input.datepicker {
	width: 150px;
}




#specialOrder .specialOrderItem{
	background: #fff;
	margin-bottom: 10px;
}

#specialOrder .specialOrderItem table tr:first-of-type td{
	border-top: none;
	background: #fff;
}

#specialOrder .specialOrderItem table td {
	width: 40%;
}

#specialOrder .specialOrderItem table td:first-of-type {
	border-left: none;
}

#specialOrder .specialOrderItem table td:last-of-type {
	border-right: none;
}

#specialOrder .specialOrderItem table tr:last-child td{
	border-bottom: none;
}

#specialOrder .specialOrderItem table tr td:last-of-type {
	width: 20%;
}

#specialOrder .specialOrderItem table tr td span {
	color: #a3a3a3;
}


#specialOrder form {
	background: #eae7da;
	padding: 10px;
}

#specialOrder form fieldset {
	margin: 0;
}

#specialOrder form textarea {
	margin: 0;
}

#specialOrder form input,
#specialOrder form select {
	margin-top: 10px;
	margin-right: 7px;
	display: inline-block;
}


#wizardPromo p{
	background: #fff;
	padding: 10px;
}






body#login {
	color: #fff;
	background: #2ea3ce;
	background: #f7f3e6;
}

/*
#login {
	background: #444;
	background: #2ea3ce;
	margin-top: 40px;
}
*/

#login #msgLogin {
	color: #f7f3e6;
	margin: 20px;
	text-align: center;
}

#login .width {
	width: 410px;
	background: #444;
}

#login img {
	width: 200px;
	text-align: center;
	display: block;
	margin: 30px auto 0 auto;
}

#login form {
	margin-top: 10px;
}

#login legend {
	display: none;
}

#login label {
	line-height: 40px;
}

#login h2 {
	line-height: 1;
	color: #2ea3ce;
}


#login input {
	border: 1px solid #444;
}


#login form fieldset{
	border: none;
	padding: 20px 20px 0 20px;
	margin: 0;
}

/*.........Pricing Table....................*/

#pricing-table {
    margin:50px auto;
    text-align: center;
    width:90%; /* total computed width = 222 x 3 + 226 */
	display:block;
}

#pricing-table .plan {
    font:14px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(255,255,255,.8);        
    background: #fff;      
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 150px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
    float: left;
    position: relative;
	display:block;
	margin-left:20px;
	margin-bottom:20px;
}

#pricing-table #most-popular {
    z-index: 2;
    top: -13px;
    border-width: 3px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
    border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
    border-radius: 0 5px 5px 0;        
}

.plan small {
    font-size: 110%;
    display: block;
    margin-top: -45px;
}

/* --------------- */   

#pricing-table h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    margin: -20px -20px 50px -20px;
    background-color: #eee;
    background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    margin-top: -30px;
    padding-top: 30px;
    border-radius: 5px 5px 0 0;         
}

#pricing-table .plan:nth-child(1) h3 {
    border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
    border-radius: 0 5px 0 0;       
}   

#pricing-table h3 span {
    display: block;
    font: bold 30px/80px Georgia, Serif;
    color: #777;
    background: #fff;
    border: 5px solid #fff;
    height: 100px;
    width: 100px;
    margin: 10px auto -65px;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

#pricing-table li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

/* --------------- */
    
#pricing-table input.signup {
    position: relative;
    padding: 8px 20px;
    margin:40px 0 0 0;  
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;       
    background-color: #72ce3f;
    background-image: linear-gradient(#72ce3f, #62bc30);
    border-radius: 3px;     
    text-shadow: 0 1px 0 rgba(0,0,0,.3);        
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	border:none;
	width:auto;
}

#pricing-table input.signup:hover {
    background-color: #62bc30;
    background-image: linear-gradient(#62bc30, #72ce3f); 
}

#pricing-table input.signup:active, #pricing-table input.signup:focus {
    background: #62bc30;       
    top: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}

/*............................................Checkout....................................................*/

.checkout {
  width:40%;
  margin: 50px auto;
  padding: 15px;
  background: #f3f6fa;
  border: 1px solid;
  border-color: #c2cadb #bbc5d6 #b7c0cd;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.checkout > p {
  zoom: 1;
}
.checkout > p:before, .checkout > p:after {
  content: '';
  display: table;
}
.checkout > p:after {
  clear: both;
}
.checkout > p + p {
  margin-top: 15px;
}

.checkout-header {
  position: relative;
  margin: -31px -15px 15px;
}

.checkout-title {
  padding: 0 15px;
  line-height:40px;
  font-size:24px;
  font-weight: normal;
  color: #7f889e;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #eceff5;
  border-bottom: 1px solid #c5ccdb;
  border-radius: 7px 7px 0 0;
  background-image: -webkit-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: -moz-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: -o-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
  -webkit-box-shadow: inset 0 1px white;
  box-shadow: inset 0 1px white;
}
.checkout-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.checkout-price {
  position: absolute;
  top: -14px;
  right: -14px;
  width:60px;
  font: 20px/51px Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -1px;
  letter-spacing: -1px;
  background: #e54930;
  border: 1px solid;
  border-color: #b33323 #ab3123 #982b1f;
  border-radius: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: -webkit-linear-gradient(top, #f75a3b, #d63b29);
  background-image: -moz-linear-gradient(top, #f75a3b, #d63b29);
  background-image: -o-linear-gradient(top, #f75a3b, #d63b29);
  background-image: linear-gradient(to bottom, #f75a3b, #d63b29);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.checkout-price:before {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border: 2px solid #f5f8fb;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
}

input {
  margin: 0;
  line-height: normal;
  font-family: inherit;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.checkout-input {
  float: left;
  padding: 0 7px;
  height: 32px;
  color: #525864;
  background: white;
  border: 1px solid;
  border-color: #b3c0e2 #bcc5e2 #c0ccea;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #f6f8fa, white);
  background-image: -moz-linear-gradient(top, #f6f8fa, white);
  background-image: -o-linear-gradient(top, #f6f8fa, white);
  background-image: linear-gradient(to bottom, #f6f8fa, white);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}
.checkout-input:focus {
  border-color: #46aefe;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
}
.lt-ie9 .checkout-input {
  line-height: 30px;
}

.checkout-name {
  width: 60%;
}

.checkout-card {
  width: 60%;
}

.checkout-exp,
.checkout-cvc {
  margin-left: 15px;
  width: 15%;
}

.checkout-btn {
  width: 100%;
  height: 34px;
  padding: 0;
  font-weight: normal;
  font-size:16px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-color: #1486f9 #0f7de9 #0d6acf;
  background: #1993fb;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.checkout-btn:active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #075bba #0c69d2 #0f7de9;
  background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
  background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
  background-image: -o-linear-gradient(top, #1281dc, #1593fc);
  background-image: linear-gradient(to bottom, #1281dc, #1593fc);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}

:-moz-placeholder {
  color: #acb6c8 !important;
}

::-moz-placeholder {
  color: #acb6c8 !important;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #acb6c8;
}

:-ms-input-placeholder {
  color: #acb6c8;
}

::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}

