.debug {
	display: none!important;
}

html {
}



body,
input,
select{
	padding: 0;
	margin: 0;
	border: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px; 
	line-height: 1.5;
}


body {
	margin: 0;
	padding: 0;
	color: #000;
	overflow: visible;
}

#top *,
#help,
.noPrint,
.button,
.ui-datepicker-trigger {
	display: none;
}

.clientHeading th {
	background: #000;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.orderWrapper {
	padding: 0;
	margin: 0;
	border: 0;
}

.dayInfo {
	float: right;
}


.orderHide {
	display: table-row-group!important;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


.pageBreak { 
	page-break-before: always; 
}



#top #logo {
	display: block;
	float: right;
}

#top #logo img {
	display: block;
	width: 200px;
}

#top {
	display: block;
	width: 100%;
	clear: both;
	float: left;
}

#nav {
	display: none;
}


h1,
.h1input {
	font-size: 30px;
	border: none;
	padding: 0;
	margin: 0;
	font-weight: bold;
}


.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center;
}


input {
	width: auto;
}

label {
	font-weight: bold;
}

textarea {
	display: none;
}

table {
	border-collapse: collapse;
	width: 100%;
}


table th,
table td {
	vertical-align: top;
	text-align: left;
	border: 1px solid #000;
	padding: 5px 10px;
	-webkit-print-color-adjust: exact;
}

table thead th,
table thead th input {
	background: #333;
	color: #fff;
}

table input {
	min-width: 1em;
	text-align: center;
}


table thead input {
	width: 3em;
}


.coefficient {
	text-align: center;
}

.qty_col *,
.coefficient,
.coefficient *,
.sumKilo,
.sumKilo_c {
	font-size: 18px;
}

.qty_col input {
	width: 3em;
}



tbody .ingredient_col {
	background: #ccc;
}

table#ingredients textarea,
table#ingredients .textareaFake,
table .sheet .textareaFake {
	text-align: center;
}


table .sheet .textareaFake {
	font-size: 30px;
	font-weight: strong;
}

table#ingredients .textareaFake,
table .sheet .textareaFake {
	display: block;
}



.orderWrapper table.orderLines td.orderLine{
	font-size: 16px;
}

