<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!--<add name="Server" connectionString="Server=67.227.132.221;Database=blaack_Prod;uid=BlaackDBs;password=Blaack@2015;" />-->
		<!-- <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" /> -->
		<add name="Log" connectionString="Data Source=server;Initial Catalog=BlackForestProd;User ID=sa;Password=P@ss123"
			   providerName="System.Data.SqlClient" />
		<!--   <add name="Server" connectionString="server=SERVER\SERVER2012;uid=sa;password=P@ss123;database=blaackbackup"></add>-->
		<!-- <add name="Server" connectionString="server=SYSTEM6\MS2012;uid=sa;password=P@ss123;database=blaack_Prodbk2601"
		 providerName="System.Data.SqlClient" />-->
		<add name="Chennai" connectionString="Data Source=server;Initial Catalog=BFChennai;User ID=sa;Password=P@ss123"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>